<br><br>
<p>Acest ultim capitol care vizează tematica managementului cunoștințelor, prezintă subiect tot mai des abordat, 
    sustenabilitatea, a început să devină de interes pentru organizații datorită avantajului competitiv care poate fi 
    obținut prin implementarea proiectelor care urmăresc obiective sustenabile. Procesele de management al 
    cunoștințelor pot fi utilizate în context organizațional pentru a construi fundamentul practicilor de dezvoltare 
    responsabile vis-a-vis de problematicile sociale, privite ca fiind la fel de importante ca și viabilitatea 
    economică.(Martins et al., 2019).Pentru mai multe resurse, vă rugăm să consultați videoclipul pus la dispoziție, 
    precum și articolele accesibile prin link-urile de mai jos:
     </p>
<mat-list>
    <mat-list-item> <a matLine href="https://www.researchgate.net/publication/332836265_Knowledge_management_in_the_context_of_sustainability_Literature_review_and_opportunities_for_future_research"> 
        https://www.researchgate.net/publication/332836265_Knowledge_management_in_the_context_of_sustainability_Literature_review_and_opportunities_for_future_research  
    </a> </mat-list-item>
</mat-list>

<iframe width="80%" height="500" src="https://www.youtube.com/watch?v=bhgx-qbIMOg">
</iframe>

<iframe width="80%" height="500" src="https://www.youtube.com/watch?v=pF_vtsVC3PY">
</iframe>

<br>