<br><br>
<p>Acest capitol urmărește focalizarea asupra formelor de manifestare ale culturii organizaționale: 
    valori, simboluri, comportamente, ritualuri și ceremonii, mituri. Componentele culturii organizaționale 
    prin diversitatea  și intensitatea cu care se manifestă în firmă reflectă și modelează caracteristicile 
    sistemului de management, evidențiind capitalul uman, intelectual și emoțional, precum și a altor categorii 
    de resursă de natură să asigure o dezvoltare susținută firmei pe termen scurt, mediu și lung.
    Mai jos pot fi regăsite o serie de video-uri, care o să vă ofere informații despre modalitățile de manifestare 
    a culturii organizaționale:   
     </p>

<iframe width="80%" height="500" src="https://www.youtube.com/watch?v=BlhM7vALtUM">
</iframe>

<iframe width="80%" height="500" src="https://www.youtube.com/watch?v=DtGhw4i3aAQ">
</iframe>

<iframe width="80%" height="500" src="https://www.youtube.com/watch?v=PhEow6_kjt4">
</iframe>

<iframe width="80%" height="500" src="https://www.youtube.com/watch?v=2y8SA6cLUys">
</iframe>

<mat-list>
    <mat-list-item> <a matLine href="https://doi.org/10.1080/09537287.2018.1455233"> https://doi.org/10.1080/09537287.2018.1455233  </a> </mat-list-item>
    <mat-list-item> <a matLine href="https://doi.org/10.18535/ijsrm/v6i1.em05"> https://doi.org/10.18535/ijsrm/v6i1.em05 </a> </mat-list-item>
</mat-list>

<div>
    <button mat-raised-button color="accent" (click)="openQuiz()">Quiz</button>
</div>

<br>