<br><br>
<p>În cadrul acestui capitol va fi abordată perspectiva lui Simon Sinek asupra leadershipului, 
    ca o primă viziune asupra acestui concept. Astfel, veți învăța despre Golden Circle, 
    despre cum adevărații mat-list-itemderi se raportează la de ce facem lucrurile pe care le facem și îi inspiră pe ceilalți. 
    Pentru a afla mai multe despre cum a evoluat leadership-ul de-a lungul timpului și care sunt teoriile principale, 
    puteți consulta următoarele resurse: </p>
<mat-list>
    <mat-list-item> <a matLine href="https://doi.org/10.1016/j.leaqua.2019.101335"> https://doi.org/10.1016/j.leaqua.2019.101335 </a> </mat-list-item>
    <mat-list-item> <a matLine href="https://doi.org/10.1016/j.leaqua.2020.101381"> https://doi.org/10.1016/j.leaqua.2020.101381 </a> </mat-list-item>
    <mat-list-item> <a matLine href="https://doi.org/10.1016/j.leaqua.2019.101379"> https://doi.org/10.1016/j.leaqua.2019.101379 </a> </mat-list-item>
</mat-list>

<iframe width="80%" height="500" src="https://www.youtube.com/embed/qp0HIF3SfI4">
</iframe>

<div>
    <button mat-raised-button color="accent" (click)="openQuiz()">Quiz</button>
</div>

<br>