<br><br>
<p>În acest capitol va fi abordată tematica culturii organizaționale, așa cum este descrisă de Edgar Schein.
    Cultura este un termen cu multe înțelesuri. În 1952, doi academicieni, Kroeber și Kluckhohn, au finalizat o 
    revizuire cuprinzătoare a termenului și au constatat că până atunci existau peste 134 de definiții. 
    
    Conform lui Edgar Schein, care a incercat si a reusit sa aplice conceptului o definitie coerenta, 
    cultura organizationala este „modelul de asteptari de baza pe care un anume grup l-a inventat, 
    descoperit sau dezvoltat in cursul procesului de invatare a rezolvarii problemelor de adaptare externa 
    si integrare interna si care a functionat indeajuns de bine pentru a fi considerat valid si, ca urmare, 
    a fi prezentat noilor membri ca modul corect de a intelege, gandi si simti in relatie cu respectivele 
    probleme” (cf. Schein, Edgar H., Organizational Culture and Leadership, 1992, p. 373-374).
    
    O explicație a modelului culturii organizationale propus de Edgar Schein, cu cele 3 componente:
     </p>
<mat-list>
    <mat-list-item> <a matLine href="https://www.emerald.com/insight/content/doi/10.1108/09513541111159086/full/html"> https://www.emerald.com/insight/content/doi/10.1108/09513541111159086/full/html  </a> </mat-list-item>
    <mat-list-item> <a matLine href="https://www.journals.elsevier.com/evaluation-and-program-planning"> https://www.journals.elsevier.com/evaluation-and-program-planning  </a> </mat-list-item>
    <mat-list-item> <a matLine href="https://www.tandfonline.com/doi/abs/10.1080/09537287.2018.1455233?journalCode=tppc20"> https://www.tandfonline.com/doi/abs/10.1080/09537287.2018.1455233?journalCode=tppc20  </a> </mat-list-item>
</mat-list>
<iframe width="80%" height="500" src="https://www.youtube.com/embed/aSbBxwxZilY">
</iframe>

<iframe width="80%" height="500" src="https://www.youtube.com/embed/BlhM7vALtUM">
</iframe>

<iframe width="80%" height="500" src="https://www.youtube.com/embed/3n-c6iAKFgg">
</iframe>

<div>
    <button mat-raised-button color="accent" (click)="openQuiz()">Quiz</button>
</div>

<br>