<br><br>
<p>În cadrul acestui capitol va fi abordată relația dintre Managementul Cunoștințelor și Inovație. Inovația se referă, 
    conform unor autori, la dezvoltarea și formarea unor rutine pentru a crea produse noi. Conform altor cercetători, 
    aceasta se referă la un proces de utilizare a cunoștințelor destinat creării unor noi cunoștințe care să faciliteze
     crearea unor soluții comerciale și valide. În general, putem defini acest construct ca referindu-se la 
     “implementarea unor noi descoperiri și intervenții, prin care noi rezultate (produse, sisteme sau procese) apar”. 
     Astfel, am pregătit un articol (ultimele 5 pagini) și un videoclip, pentru a dezvolta mai ușor rolul pe care 
     managementul cunoștințelor îl are asupra inovației, și invers: </p>
<mat-list>
    <mat-list-item> <a matLine href="https://doi.org/10.1108/13673270710762684"> https://doi.org/10.1108/13673270710762684  </a> </mat-list-item>
</mat-list>

<iframe width="80%" height="500" src="https://www.youtube.com/embed/DNUwZctwwhw">
</iframe>

<div>
    <button mat-raised-button color="accent" (click)="openQuiz()">Quiz</button>
</div>

<br>