<br><br>
<p>În cadrul acestui capitol va fi prezentat conceptul de management al cunoștințelor (en. Knowledge Management.).
    Acesta se referă la administrarea cunoștințelor într-un aspect formal, care permite accesarea lor, a experiențelor
     prin care organizația a trecut, și a expertizei formată în urma acestora din urmă. În ceea ce urmează am pregătit
      resurse (un document) care oferă informațiile necesare pentru crearea unei imagini generale despre ceea ce acest
       concept presupune, ce oferă (atât nouă ca și persoane, cât și grupurilor și organizațiilor), și cum se dezvoltă.
        Astfel, am pregătit un articol (din care primele 5 pagini sunt relevante pentru acest capitol) și un videoclip,
         accesibile la click-urile următoare: </p>
<mat-list>
    <mat-list-item> <a matLine href="https://doi.org/10.1108/13673270710762684"> https://doi.org/10.1108/13673270710762684  </a> </mat-list-item>
</mat-list>

<iframe width="80%" height="500" src="https://www.youtube.com/watch?v=k3jo7oWzUUc">
</iframe>

<div>
    <button mat-raised-button color="accent" (click)="openQuiz()">Quiz</button>
</div>

<br>