<label id="example-radio-group-label" class="wrap-text">{{questions[index].question}}</label>
  <br>  
  <mat-checkbox
    [(ngModel)]="answer0"
    [disabled]="!okEnabled">
    {{ questions[index].answers[0].answer }}
    <mat-icon *ngIf="questions[index].answers[0].correct && showAnswers">check</mat-icon>
  </mat-checkbox>
  <br>
  <mat-checkbox
    [(ngModel)]="answer1"
    [disabled]="!okEnabled">
    {{ questions[index].answers[1].answer }}
    <mat-icon *ngIf="questions[index].answers[1].correct && showAnswers">check</mat-icon>
  </mat-checkbox>
  <br>
  <mat-checkbox
    [(ngModel)]="answer2"
    [disabled]="!okEnabled">
    {{ questions[index].answers[2].answer }}
    <mat-icon *ngIf="questions[index].answers[2].correct && showAnswers">check</mat-icon>
  </mat-checkbox>
  <br>

<button mat-raised-button color="primary" (click)="ok()" [disabled]="!okEnabled"> Ok </button>
<button mat-raised-button color="primary" (click)="next()" *ngIf="nextVisible" [disabled]="!nextEnabled"> Next </button>
<br>
<br>
<mat-label style="color: green;" *ngIf="!okEnabled && !nextVisible">Ai obținut {{correctAnswers}} puncte</mat-label>