<br><br>
<p>În cadrul acestui capitol va fi abordată relația dintre cultură și leadership. Veți învăța despre cum 
    backgroundul cultural pe care fiecare îl are influențează așteptările și modul în care percepem un lider. 
    În funcție de valorile culturii în care am crescut, apreciem anumite valori și ni le dorim de la un lider. 
    Studiul GLOBE a identificat șase comportamente de leadership care diferă în ceea ce privește nivelul așteptat 
    de oameni, în funcție de cultura din care fac parte. Pentru mai multe resurse, vă rugăm să consultați: </p>
<mat-list>
    <mat-list-item> <a matLine href="https://doi.org/10.1016/j.hrmr.2020.100765"> https://doi.org/10.1016/j.hrmr.2020.100765 </a> </mat-list-item>
    <mat-list-item> <a matLine> Capitolul 16 Leadership and Culture, din Leadership: Theory and Practice, 8th ed, Northouse </a> </mat-list-item>
</mat-list>

<iframe width="80%" height="500" src="https://www.youtube.com/embed/wLNeEw109gc">
</iframe>

<div>
    <button mat-raised-button color="accent" (click)="openQuiz()">Quiz</button>
</div>

<br>