<br><br>
<p>În cadrul acestui capitol va fi abordată relația dintre managementul cunoștințelor și sistemele informatice. 
    Procesele de Management al Cunoștințelor sunt esențiale pentru integrarea eficientă a sistemelor de informații 
    (Al-Emran et al., 2018), respectiv pentru a ajuta instituțiile să producă, să împărtășească și chiar să distribuie 
    informația într-o manieră inteligentă (Rahimi et al., 2016)
    Există mai multe clasificări ale acestor procese, însă elementele care se regăsesc în mare parte 
    dintre aceste clasificări sunt: procesele de achiziționare a informației, stocare a informației, 
    împărtășire a informației și aplicare a informației (Lee, 2001; Al-Emran et al., 2018).
    O problemă interesantă care se pune este cum pot fi utilizate sistemele informatice pentru a 
    facilita procesele de management al cunoștințelor și a accelera dezvoltarea organizațională 
    (Al-Emran et al., 2018). Pentru mai multe resurse, vă rugăm să consultați videoclipul pus la dispoziție,
     precum și articolele accesibile prin link-urile de mai jos:
     </p>
<mat-list>
    <mat-list-item> <a matLine href="https://doi.org/10.1016/j.ijinfomgt.2018.08.001"> https://doi.org/10.1016/j.ijinfomgt.2018.08.001  </a> </mat-list-item>
</mat-list>

<iframe width="80%" height="500" src="https://www.youtube.com/watch?v=RvV-_tfTe5s">
</iframe>

<iframe width="80%" height="500" src="https://www.youtube.com/watch?v=v3VCFuxz0l8">
</iframe>

<div>
    <button mat-raised-button color="accent" (click)="openQuiz()">Quiz</button>
</div>

<br>