<br><br>
<p>În cadrul acestui capitol veți aborda stilurile de leadership și veți putea în final extrage avantajele și dezavantajele fiecărui stil în parte. Conform lui Kurt Lewin există 4 stiluri de leadership. Cel autocratic, focusat pe lider, cel democratic, focusat pe echipă, cel transformațional, focusat pe modele de comportament și în a seta obiective clare; si cel laissez faire, în care liderul nu intervine ci lasă echipa să se auto direcționeze. 
    Pentru a afla mai mult desre stilurile de leadership vă rugăm să consultați cartea: </p>
<mat-list>
    <mat-list-item> <a matLine> Lewin, K. (1944). The dynamics of group action. Educational leadership, 1(4), 195-200. </a> </mat-list-item>
</mat-list>

<iframe width="80%" height="500" src="https://www.youtube.com/embed/RmqsV1293Rk">
</iframe>

<div>
    <button mat-raised-button color="accent" (click)="openQuiz()">Quiz</button>
</div>

<br>